/* This file is used to set global styles for the application. */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#filler {
  flex-grow: 1;
}
@media (prefers-color-scheme: light) {
}
